<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>Registration Success</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" th:href="@{/css/common/register_success.css}" />
    </head>
    <body>
        <div class="container">
            <h3>You have signed up successfully!</h3>
            <p>Please check your email to verify your account.</p>
            <h4><a th:href="@{/login}">Click here to Login</a></h4>
        </div>
    </body>
</html>