<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Account Verification</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" th:href="@{/css/common/verify_fail.css}" />


    </head>
    <body>
        <div class="container text-center">
            <h3>Sorry, we could not verify your account. It may already be verified,
                or the verification code is incorrect.</h3>
        </div>
    </body>
</html>