<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title th:text="'Hello '+${admin}"></title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" href="/css/admin/admin.css">
</head>
<body>
    <div th:insert="components/header"></div>
    <main>
        <table>
            <thead>
                <tr>
                    <th>
                        ID
                    </th>
                    <th>
                        Full name
                    </th>
                    <th>
                        Gender
                    </th>
                    <th>
                        Email
                    </th>
                    <th>
                        Mobile
                    </th>
                    <th>
                        Role
                    </th>
                    <th>
                        Status
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="user:${users}">
                    <td>
                        ${user.id}
                    </td>
                    <td>
                        ${user.fullName}
                    </td>
                    <td>
                        ${user.gender}
                    </td>
                    <td>
                        ${user.email}
                    </td>
                    <td>
                        ${user.mobile}
                    </td>
                    <td>
                        ${user.role}
                    </td>
                    <td>
                        ${user.enable}
                    </td>
                </tr> 
           </tbody>
        </table>
    </main>
    <div th:insert="components/footer"></div>
</body>
</html>