<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title th:text="'Hello '+${admin}"></title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
</head>
<body>
    <div th:insert="components/header"></div>
    <table>
        <thead>
            <tr>
                <th>
                    ID
                </th>
                <th>
                    Full name
                </th>
                <th>
                    Gender
                </th>
                <th>
                    Email
                </th>
                <th>
                    Mobile
                </th>
                <th>
                    Role
                </th>
                <th>
                    Status
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    1
                </td>
                <td>
                    2
                </td>
                <td>
                    3
                </td>
                <td>
                    4
                </td>
                <td>
                    5
                </td>
                <td>
                    6
                </td>
                <td>
                    7
                </td>
            </tr>
        </tbody>
    </table>
    <div th:insert="components/footer"></div>
</body>
</html>