<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Account Verification</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/common/verify_success.css}" />
</head>
<body>
    <div class="container text-center">
        <h3>Your account has been discard</h3>
        <h4><a th:href="@{/home}">Click here to visit our page for more information</a></h4>
    </div>
</body>
</html>