<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IQuizz - IQ Quizzes</title>
    <link rel="stylesheet" href="/css/admin/userdetail.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="/js/admin/userdetail.js"></script>
</head>
<body>
    <block th:if="${userSession==null}">
        <div th:insert="components/header"></div>
    </block>
    <block th:if="${userSession!=null}">
        <div th:insert="components/header_logged_in"></div>
    </block>
    <main>
        <div class="row" style="margin-bottom: 20px;">
            <span onclick="backToParents()" class="fake-btn">
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-arrow-left-square-fill" viewBox="0 0 16 16">
                    <path d="M16 14a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12zm-4.5-6.5H5.707l2.147-2.146a.5.5 0 1 0-.708-.708l-3 3a.5.5 0 0 0 0 .708l3 3a.5.5 0 0 0 .708-.708L5.707 8.5H11.5a.5.5 0 0 0 0-1z"/>
                </svg>
                Back to user list
            </span>
        </div>
        <div class="row">
            <div class="col-xl-4">
                <div class="row">
                    <!-- Profile picture card-->
                    <div class="card mb-4 mb-xl-0">
                        <div class="card-header">Profile Picture</div>
                        <div class="card-body text-center">
                            <img class="img-account-profile rounded-circle mb-2" th:src="${user.avatar}" alt="">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <button class="btn d-flex justify-content-center">
                        <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" fill="currentColor" class="bi bi-plus-square btn-lg" viewBox="0 0 16 16" onclick="showPopup()">
                            <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
                            <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                        </svg>  
                    </button>
                </div>
            </div>
            <div class="col-xl-8">
                <!-- Account details card-->
                <div class="card mb-4">
                    <div class="card-header">Account Details</div>
                    <div class="card-body">
                        <form method="post" action="/admin/user-detail/change">
                            <div class="mb-3">
                                <label class="small mb-1" for="inputFullName">Full Name</label>
                                <input class="form-control" id="inputFullName" type="text" th:value="${user.fullName}" disabled>
                            </div>
                            <div class="row gx-3 mb-3">
                                <div class="col-md-6">
                                    <label class="small mb-1" for="inputEmail">Email</label>
                                    <input class="form-control" id="inputEmail" type="text" th:value="${user.email}" disabled>
                                </div>
                                <div class="col-md-6">
                                    <label class="small mb-1" for="inputRole">Role</label>
                                    <select class="form-control" name="role" id="inputRole" disabled>
                                        <option th:each="role : ${roles}" th:value="${role.id}" th:text="${role.name}" th:selected="${role.name eq user.role.name}"></option>
                                    </select>
                                </div>
                            </div>
                            <div class="row gx-3 mb-3">
                                <div class="col-md-6">
                                    <label class="small mb-1" for="inputAddress">Address</label>
                                    <input class="form-control" id="inputAddress" type="text" th:value="${user.address}" disabled>
                                </div>
                                <div class="col-md-6">
                                    <label class="small mb-1" for="inputStatus">Status</label>
                                    <select class="form-control" name="status" id="inputStatus" disabled>
                                        <option value="true" th:selected="${user.enable}">Active</option>
                                        <option value="false" th:selected="${!user.enable}">Inactive</option>
                                    </select>
                                </div>
                            </div>
                            <div class="mb-3">
                                <label class="small mb-1" for="inputEmailAddress">Email</label>
                                <input class="form-control" id="inputEmailAddress" type="email" th:value="${user.email}" disabled>
                            </div>
                            <div class="row gx-3 mb-3">
                                <div class="col-md-6">
                                    <label class="small mb-1" for="inputPhone">Phone number</label>
                                    <input class="form-control" id="inputPhone" type="tel" th:value="${user.mobile}" disabled>
                                </div>
                                <div class="col-md-6">
                                    <label class="small mb-1" for="inputGender">Gender</label>
                                    <input class="form-control" id="inputGender" type="text" th:value="${user.gender==true?'Male':'Female'}" disabled>
                                </div>
                            </div>
                            <input type="hidden" name="id" th:value="${user.id}">
                            <!-- Save changes button-->
                            <div class="row">
                                <div class="col">
                                  <button class="btn btn-primary" id="change-button" type="button" onclick="change()">Edit</button>
                                </div>
                                <div class="col">
                                  <button class="btn btn-primary" id="save-button" type="submit" style="display:none">Save changes</button>
                                </div>
                                <div class="col">
                                  <button class="btn btn-primary" id="cancel-button" type="button" style="display:none" onclick="cancel()">Cancel</button>
                                </div>
                            </div>
                        </form>
                        <div id="popupForm" class="modal">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Add User</h5>
                                </div>
                                <div class="model-body">
                                    <form action="/admin/add-user" method="post">
                                        <div class="form-group">
                                            <label for="fullName">Full Name:</label>
                                            <input type="text" class="form-control" id="fullName" name="fullName" required>
                                        </div>
                                        <div class="form-group">
                                            <label for="role">Role:</label>
                                            <select class="form-control" id="role" name="role" required>
                                                <option th:each="role:${roles}" th:value="${role.id}" th:text="${role.name}"></option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label for="email">Email:</label>
                                            <input type="email" class="form-control" id="email" name="email" required>
                                        </div>
                                        <button type="submit" class="btn btn-primary">Submit</button>
                                        <button type="button" class="btn btn-secondary" onclick="hidePopup()">Cancel</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <div th:insert="components/footer"></div>
</body>
</html>
