/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : May 23, 2023, 12:22:03 AM
    Author     : Mosena
*/
main{
    margin-top: 100px;
    margin-bottom: 100px;
}
.card-link {
    text-decoration: none;
    color: inherit;
}
.card-text{
    color: black;
    padding:5px;
}
.card-label{
    position: absolute; 
    bottom: 10px; 
    font-size: 14px;
    padding:5px;
}
.card-overlay{
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%; 
    background-color: rgba(0,0,0, 0.5); 
    display: none;
}
.register-subject.btn {
    margin-right: 1rem;
    color: #fffffc;
    background-color: #1368ce;
    padding: 0.8rem 1.2rem;
    border-radius: 0.3rem;
    transition: all 0.2s linear;
}

.register-subject.btn::before {
    width: 0;
    height: 0;
}

.register-subject.btn::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 110%;
    border-radius: 0.3rem;
    z-index: -1;
}

.register-subject.btn:hover {
    transform: translateY(0.1rem);
    background-color: #1368ce;
}

.card-label.price{
    background-color: red;
}
.register-container {
    display: flex;
    align-items: center;
}
.price-text {
    display: inline-block;
    width: auto;
    height: 32px;
    
    background-color: #6ab070;
    -webkit-border-radius: 3px 4px 4px 3px;
    -moz-border-radius: 3px 4px 4px 3px;
    border-radius: 3px 4px 4px 3px;

    border-left: 1px solid #6ab070;

    margin-left: 13px;
    margin-top: 10px;
    position: relative;

    color: white;
    font-size: 14px;
    line-height: 32px;

    padding: 0 10px 0 10px;
}

.price-text:before {
    content: "";
    position: absolute;
    display: block;
    left: -19px;
    width: 0;
    height: 0;
    border-top: 19px solid transparent;
    border-bottom: 13px solid transparent;
    border-right: 19px solid #6ab070;
}

.price-text:after {
    content: "";
    background-color: white;
    border-radius: 50%;
    width: 4px;
    height: 4px;
    display: block;
    position: absolute;
    left: -9px;
    top: 17px;
}
.disabled{
    text-decoration: none;
    color: #4E6180;
    cursor: default;
}
.search-box{
    font-size: 14px;
}
#sidebar-button {
  position: fixed;
  top: 50%;
  left: 0;
  height: 100px;
  background-color: #1368ce;
  color:white;
  writing-mode: vertical-lr;
  font-size: 14px;
  text-align: center;
  cursor: pointer;
  z-index: 1000;
}


