/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : May 23, 2023, 12:22:03 AM
    Author     : Mosena
*/
main{
    margin-top: 100px;
    margin-bottom: 100px;
}

