<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Question List</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
        <link rel="stylesheet" th:href="@{/css/components/header.css}">
        <link rel="stylesheet" th:href="@{/css/components/footer.css}">
        <link rel="stylesheet" th:href="@{/css/components/header_logged_in.css}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    </head>
    <body>
    <th:block th:if="${userSession == null}">
        <div th:insert="/components/header"></div>
    </th:block>

    <th:block th:if="${userSession != null}">
        <div th:insert="/components/header_logged_in"></div>
    </th:block>
    <h1 style="text-align: center">Question List</h1>
    <div class="row">
        <div class="col-2">
            <form action="/question/questionList">
                <select class="form-select" name="lessonID" onchange="this.form.submit()">
                    <option value="-1" selected>All lesson Group</option>
                    <option th:each="item:${lessonList}" th:value="${item.id}" th:text="${item.name}"
                            th:selected="${item.id == lessonID}"></option>
                </select>
            </form>
        </div>
        <div class="col-2">
            <form action="/question/questionList">
                <select class="form-select" name="status" onchange="this.form.submit()">
                    <option value="0" selected>All status</option>
                    <option value="1" th:selected="${status == 1}">Active</option>
                    <option value="2" th:selected="${status == 2}">Deactive</option>
                </select>
            </form>
        </div>
        <div class="col-2">
            <form action="/question/questionList">
                <select class="form-select" name="level" onchange="this.form.submit()">
                    <option value="-1" selected>All Level</option>
                    <option th:each="item:${levelList}" th:value="${item.id}" th:text="${item.name}"
                            th:selected="${item.id == level}"></option>
                </select>
            </form>
        </div>
        <div class="col-2">
            <form action="/question/questionList">
                <select class="form-select" name="dimensionID" onchange="this.form.submit()">
                    <option value="-1" selected>All Dimension</option>
                    <option th:each="item:${dimensionList}" th:value="${item.id}" th:text="${item.name}"
                            th:selected="${item.id == dimensionID}"></option>
                </select>
            </form>
        </div>
        <div class="col-2">
            <form action="/question/questionList" class="input-group mb-3">
                <input th:value="${search}" name="search" type="text" class="form-control"
                       placeholder="Type lesson name to search" aria-label="Type lesson name to search"
                       aria-describedby="basic-addon2">
                <div class="input-group-append">
                    <button class="btn btn-secondary" type="submit">
                        <i class="fa fa-search"></i>
                    </button>
                </div>
            </form>
        </div>
        <div class="col-12">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Content</th>
                        <th scope="col">Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="item:${listPaging}">
                        <td scope="row" th:text="${item.id}"></td>
                        <td th:text="${item.content}"></td>
                        <td th:text="${item.status}"></td>
                    </tr>
                </tbody>
            </table>
            <div class="pagination">
                <div th:if="${listPaging.getTotalPages() > 0}"
                     th:each="pageNumber : ${pageNumbers}" style="margin-right: 10px">
                    <a th:href="@{/question/questionList(size=${listPaging.size}, page=${pageNumber})}"
                       th:text="${pageNumber}"
                       th:class="${pageNumber==listPaging.number + 1} ? active"></a>
                </div>
            </div>
        </div>
    </div>
    <div th:insert="/components/footer"></div>
</body>
</html>
