<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>IQuiz - Level up IQ Quiz</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous" />
    <link rel="stylesheet" href="./static/homepage.css" />
</head>

<body>
    <header>
        <div class="navbar1">
            <div class="logo">
                <a href="#"><img src="../../components/assets/img/iquizz-text_logo.png" alt="" /></a>
            </div>
            <div class="navbar__content">
                <div class="group">
                    <ul class="navigation">
                        <li>
                            <a href="#">
                                <span class="navbar-item-icon"><ion-icon name="home"></ion-icon></span>
                                <span class="navbar-item-text">Home</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="navbar-item-icon"><ion-icon name="book"></ion-icon></span>
                                <span class="navbar-item-text">Course</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="navbar-item-icon"><ion-icon name="earth"></ion-icon></span>
                                <span class="navbar-item-text">Blog</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="action-btn">
                    <a class="login" id="login" href="#">Login</a>
                    <a href="#">
                        <span class="navbar-item-icon"><ion-icon name="person-add"></ion-icon></span>
                        <span class="navbar-item-text">Register</span>
                    </a>
                </div>
            </div>
            <ion-icon name="menu-outline" class="menuToggle"></ion-icon>
        </div>
    </header>


    <section class="slider">
        <!-- =========== SLIDER =========== -->
        <div class="carousel carousel-dark slide" data-bs-ride="carousel">

            <div class="carousel-inner">
                <div class="carousel-item active" data-bs-interval="10000">
                    <img src="homepage_assets/homepage_assets_img/Green and Yellow Simple One Million Trees Day Banner.png"
                        class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h4>First slide label</h4>
                    </div>
                </div>

                <div class="carousel-item" data-bs-interval="2000">
                    <img src="homepage_assets/homepage_assets_img/THANK YOU Banner Landscape.png" class="d-block w-100"
                        alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h4>Second slide label</h4>
                    </div>
                </div>

                <div class="carousel-item">
                    <img src="homepage_assets/homepage_assets_img/THANK YOU Banner Landscape.png" class="d-block w-100"
                        alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h4>Third slide label</h4>
                    </div>
                </div>
            </div>

            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>


    </section>

    <!-- ============ SIDER ================= -->
    <section class="sider">
        <div class="container">
            <div class="sider col-md-2 h-auto">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum perferendis quaerat explicabo magni pariatur dolorum maiores veniam voluptas iusto saepe fugiat nesciunt aut sunt laboriosam voluptatum, veritatis qui deleniti. Culpa iste debitis ipsam earum quo suscipit harum laborum, doloremque amet explicabo repudiandae perspiciatis necessitatibus dicta atque rem consectetur similique vero, quae nesciunt dignissimos ducimus odit voluptatum deserunt sequi? Ab quidem est similique quas quod at nemo dicta labore. Laboriosam suscipit nam debitis unde dolorum reiciendis voluptatibus quam aspernatur esse quod soluta numquam blanditiis eveniet harum, distinctio repellat eligendi nisi vero cupiditate sequi recusandae, ut totam voluptas quos. Tenetur, quaerat expedita.
            </div>
            <div class="main-content col-md-10">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora, similique nihil? Illo nihil veritatis velit asperiores ea, amet magni, reiciendis reprehenderit id modi similique quis error repudiandae! Consequatur tempora magnam magni, dolor, eveniet alias quaerat nulla quibusdam, iure consequuntur nobis itaque ex voluptatem laboriosam. Tenetur iure nisi voluptas, deserunt exercitationem harum veritatis temporibus veniam ullam molestias. Architecto cumque minus maiores. Necessitatibus delectus facilis aliquam cumque natus quae qui ab minima voluptate omnis tempore accusantium cupiditate unde, mollitia similique libero, maiores tempora placeat excepturi distinctio? Accusantium alias reprehenderit natus voluptates, corrupti quam, animi modi eaque repellat, officia qui placeat non provident.
            </div>
        </div>
    </section>

    <!-- =============== FOOTER ================= -->
    <footer>
        <div class="container">
            <div class="sec about-us">
                <h2>About Us</h2>
                <p>
                    We are Team 5 - SE1714 - SWP391 from FPT University, Hanoi, Vietnam. We are embarking on an exciting
                    project — a quiz-taking website. With diverse skills and a shared enthusiasm for education, we aim
                    to create an interactive platform that promotes knowledge acquisition. Together, we are dedicated to
                    delivering a seamless and engaging experience, making learning both fun and rewarding. Join us on
                    this educational journey!
                </p>
                <ul class="sci">
                    <li>
                        <a target="_blank" href="#"><img src="../../components/assets/img/linkedin_logo.png" alt=""></a>
                    </li>
                    <li>
                        <a target="_blank" href="https://www.facebook.com/iamntnm"><img
                                src="../../components/assets/img/facebook_logo.png" alt=""></a>
                    </li>
                    <li>
                        <a target="_blank" href="https://www.instagram.com/_aq2208_/"><img
                                src="../../components/assets/img/insta_logo.png" alt=""></a>
                    </li>
                </ul>
            </div>
            <div class="sec quick-links">
                <h2>Quick Links</h2>
                <ul>
                    <li><a target="_blank" href="#">About</a></li>
                    <li><a target="_blank" href="#">FAQ</a></li>
                    <li><a target="_blank" href="#">Privacy Policy</a></li>
                    <li><a target="_blank" href="#">Help</a></li>
                    <li><a target="_blank" href="#">Terms & Consitions</a></li>
                    <li><a target="_blank" href="#">Contact</a></li>
                </ul>
            </div>
            <div class="sec contact">
                <h2>Contact Info</h2>
                <ul class="contact-info">
                    <li>
                        <span><ion-icon name="location"></ion-icon></span>
                        <span>Km29 Highway 08<br />
                            Thach That, Hanoi<br />Vietnam</span>
                    </li>
                    <li>
                        <span><ion-icon name="call"></ion-icon></span>
                        <p>
                            <a href="#">+84 787 129 386</a><br />
                            <a href="#">+84 379 039 267</a>
                        </p>
                    </li>
                    <li>
                        <span><ion-icon name="mail-unread"></ion-icon></span>
                        <p><a href="#">maintnhe176347@fpt.edu.vn</a></p>
                    </li>
                </ul>
            </div>
        </div>
    </footer>
    <div class="copyrightText">
        <p>
            Copyright © 2023 IQuizz Team (Group 5 - SWP391 - SE1714). All Rights
            Reserved.
        </p>
    </div>




    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
        crossorigin="anonymous"></script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <script>
        let navigation = document.querySelector(".navbar__content");
        let menuToggle = document.querySelector(".menuToggle");
        let header = document.querySelector("header");

        menuToggle.onclick = function () {
            header.classList.toggle("open");
        };
    </script>
</body>

</html>