<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <title>IQuizz - IQ Quizzes</title>
    <link rel="stylesheet" href="/css/components/footer.css">
</head>

<body>

<!-- =============== FOOTER ================= -->
<footer style="font-size:14px; padding-bottom:20px;">
    <div class="container">
        <div class="sec about-us">
            <h2 style="font-size: 1.6rem;">About Us</h2>
            <p>
                We are Team 5 - SE1714 - SWP391 from FPT University, Hanoi, Vietnam. We are embarking on an exciting
                project — a quiz-taking website. With diverse skills and a shared enthusiasm for education, we aim
                to create an interactive platform that promotes knowledge acquisition. Together, we are dedicated to
                delivering a seamless and engaging experience, making learning both fun and rewarding. Join us on
                this educational journey!
            </p>
            <ul class="sci">
                <li>
                    <a target="_blank"
                       href="https://www.linkedin.com/?original_referer=https%3A%2F%2Fwww.google.com%2F">
                        <img src="/image/linkedin_logo.png" alt="">
                    </a>
                </li>
                <li>
                    <a target="_blank" href="https://www.facebook.com/iamntnm">
                        <img src="/image/facebook_logo.png" alt="">
                    </a>
                </li>
                <li>
                    <a target="_blank" href="https://www.instagram.com/fptu.jsclub/">
                        <img src="/image/insta_logo.png" alt="">
                    </a>
                </li>
            </ul>
        </div>
        <div class="sec quick-links">
            <h2 style="font-size: 1.6rem;">Quick Links</h2>
            <ul style="padding-left: 0;">
                <li><a target="_blank" href="#">About</a></li>
                <li><a target="_blank" href="#">FAQ</a></li>
                <li><a target="_blank" href="#">Privacy Policy</a></li>
                <li><a target="_blank" href="#">Help</a></li>
                <li><a target="_blank" href="#">Terms & Consitions</a></li>
                <li><a target="_blank" href="#">Contact</a></li>
            </ul>
        </div>
        <div class="sec contact">
            <h2 style="font-size: 1.6rem;">Contact Info</h2>
            <ul class="contact-info" style="padding-left: 0;">
                <li>
                    <span><ion-icon name="location"></ion-icon></span>
                    <span>Km29 Highway 08<br/>
                            Thach That, Hanoi<br/>Vietnam</span>
                </li>
                <li>
                    <span><ion-icon name="call"></ion-icon></span>
                    <p>
                        <a href="#">+84 787 129 386</a><br/>
                        <a href="#">+84 379 039 267</a>
                    </p>
                </li>
                <li>
                    <span><ion-icon name="mail-unread"></ion-icon></span>
                    <p><a href="#">maintnhe176347@fpt.edu.vn</a></p>
                </li>
            </ul>
        </div>
    </div>
</footer>
<div class="copyrightText">
    <p>
        Copyright © 2023 IQuizz Team (Group 5 - SWP391 - SE1714). All Rights
        Reserved.
    </p>
</div>

<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>
