<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Registration</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/js/all.min.js"
            integrity="sha512-fD9DI5bZwQxOi7MhYWnnNPlvXdp/2Pj3XSTRrFs5FQa4mizyGLnJcN6tuvUS6LbmgN1ut+XGSABKvjN0H6Aoow=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" th:href="@{/templates_components_assets/css/subject.css}">
    <link rel="stylesheet" th:href="@{/templates_components_assets/css/header.css}">
    <link rel="stylesheet" th:href="@{/templates_components_assets/css/footer.css}">

</head>
<body class="bg-neutral-50 text-teal-700">
<th:block th:if="${userSession == null}">
    <div th:insert="templates/components/header"></div>
</th:block>

<th:block th:if="${userSession != null}">
    <div th:insert="templates/components/header_logged_in"></div>
</th:block>
<main>

    <div style="margin-top: 40px" class="flex items-center justify-center border-b border-b-black/10 fixed top-0 left-0 right-0 w-full z-20 bg-neutral-50">
        <div class="flex items-center justify-between px-8 py-1 w-full">
            <a href="https://facebook.com/x.quy.203" target="_blank" class="text-2xl font-bold">Course App</a>

        </div>
    </div>
    <div>
        <aside style="margin-top: 70px" class="fixed top-0 left-0 bottom-0 pt-16 w-52 z-10 border-r border-black/10">
            <div class="flex flex-col items-start">
                <a href="#" class="block px-8 py-2 font-bold">
                        <span class="inline-block w-3">
                            <i class="fa-solid fa-book"></i>
                        </span>
                    <span class="inline-block ml-2">Courses</span>
                </a>
                <a href="#" id="categories-btn" class="block px-8 pt-2 pb-1 font-bold">
                        <span class="inline-block w-3 transition-all">
                            <i class="fa-solid fa-chevron-right"></i>
                        </span>
                    <span class="inline-block ml-2">Categories</span>
                </a>
                <ul id="categories-list" class="hidden flex-col items-start w-full ml-6">
                    <li th:each="ca:${cat}">
                        <a href="" class="block px-8 py-1" th:text="${ca.getCatName()}"></a>
                    </li>
                </ul>
            </div>
        </aside>
        <article class="ml-52" style="margin-top: 70px">
            <div class="px-16 py-8 grid grid-cols-12">
                <div class="col-span-8">
                    <a th:href="@{'/users/myregistration/'+${uid}}" class="block mb-6"><i
                            class="fa-solid fa-chevron-left"></i> Back to course list</a>
                    <h1 class="text-3xl font-bold capitalize mb-2" th:text="${re.subName}"></h1>

                    <p class="mb-4">Để có cái nhìn tổng quan các bạn nên học khóa này trước nhé.</p>
                    <h2 class="text-xl font-semibold capitalize mb-2">Infomation:</h2>
                    <ul>
                        <li class="mb-1 ml-4 relative before:absolute before:content-[''] before:w-2 before:h-2 before:bg-teal-700 before:rounded-full before:-left-4 before:top-1/2 before:-translate-y-1/2"
                            th:text="'ID:'+${re.getCid()}+${uid}">

                        </li>
                        <li class="mb-1 ml-4 relative before:absolute before:content-[''] before:w-2 before:h-2 before:bg-teal-700 before:rounded-full before:-left-4 before:top-1/2 before:-translate-y-1/2"
                            th:text="'Subject: '+${re.getSubName()}">

                        </li>
                        <li class="mb-1 ml-4 relative before:absolute before:content-[''] before:w-2 before:h-2 before:bg-teal-700 before:rounded-full before:-left-4 before:top-1/2 before:-translate-y-1/2"
                            th:text="'Registration: '+${re.getDateRegis()}">

                        </li>

                        <li class="mb-1 ml-4 relative before:absolute before:content-[''] before:w-2 before:h-2 before:bg-teal-700 before:rounded-full before:-left-4 before:top-1/2 before:-translate-y-1/2"
                            th:text="'Valid: '+${re.validfrom} + ' - '+ ${re.validTo}">
                        </li>
                        <li class="mb-1 ml-4 relative before:absolute before:content-[''] before:w-2 before:h-2 before:bg-teal-700 before:rounded-full before:-left-4 before:top-1/2 before:-translate-y-1/2"
                            th:text="'Status: '+${re.getStatus()}">
                        </li>
                    </ul>
                </div>
                <div class="col-span-4 flex flex-col items-center">
                    <img src="https://anhcocvang.com/static/media/MAE101.ee704482946a2485d1e5.png" alt="course"
                         class="rounded-xl mb-4 w-full">
                    <h3 class="text-center text-3xl font-bold mb-4" th:text="'Total cost:'+ ${re.getTotalcost()}"></h3>
                    <!-- <button class="px-4 py-2 mb-4 bg-red-600 text-white rounded-full font-bold">Unenroll</button> -->

                    <div th:if="${re.getStatus() == 'submitted'}">
                        <button id="open-modal" type="button">Edit</button>
                        <dialog id="modal" class="pricing py-5" th:insert="component/subject_register_component">
                        </dialog>
                    </div> -->

                    =================
                    <ul class="">
                        <li class="mb-1 ml-4 relative before:absolute before:content-[''] before:w-2 before:h-2 before:bg-teal-700 before:rounded-full before:-left-4 before:top-1/2 before:-translate-y-1/2">
                            Name: Nguyen Van A
                        </li>
                        <li class="mb-1 ml-4 relative before:absolute before:content-[''] before:w-2 before:h-2 before:bg-teal-700 before:rounded-full before:-left-4 before:top-1/2 before:-translate-y-1/2">
                            Email:
                            <a href="mailto:abc@gmai.com" class="text-blue-600">abc@gmail.com</a>
                        </li>
                        <li class="mb-1 ml-4 relative before:absolute before:content-[''] before:w-2 before:h-2 before:bg-teal-700 before:rounded-full before:-left-4 before:top-1/2 before:-translate-y-1/2">
                            Phone: 0123456789
                        </li>
                    </ul>
                </div>
            </div>

        </article>
    </div>
</main>
<div th:insert="templates/components/footer"></div>
<script>
    const categoriesBtn = document.getElementById('categories-btn');
    const categoriesIcon = categoriesBtn.querySelector('span');
    const categoriesList = document.getElementById('categories-list');
    categoriesBtn.onclick = function () {
        categoriesIcon.classList.toggle('rotate-90');
        categoriesList.classList.toggle('hidden');
    }

    const openModalButton = document.getElementById('open-modal');
    const closeModalButton = document.getElementById('close-`modal');
    const modal = document.getElementById('modal');

    // add event listener to button
    openModalButton.addEventListener('click', function(event) {
        // show modal
        modal.showModal();
    });

    // add event listener to close button
    closeModalButton.addEventListener('click', function(event) {
        // hide modal
        modal.close();
    });
</script>
</body>
</html>