<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="index.css"/>
    </head>
    <body>
        <div class="row">
		<h1>Change Password</h1>
		<h6 class="information-text">Enter your current password and new password.</h6>
                <h2 th:text="${error1}" class="error-message"></h2>
                <h2 th:text="${error2}" class="error-message"></h2>
	<form th:action="@{/change_password}" method="post">	
                <div class="form-group">                   
            <p><label for="username">Old Password :</label></p>
			<input type="password" name="oldPass" id="user_email" placeholder="Recent Password">
                
            <p><label for="username">New Password :</label></p>
			<input type="password" name="newPass" id="user_email" placeholder="New Password">
                       
            <p><label for="username">Re-enter New Password :</label></p>
			<input type="password" name="confirmPass" id="user_email" placeholder="Re-enter New Password">			
			<button type ="submit">Change Password</button>
		</div>
        </form>	
                <div class="footer">
			<h5> <a th:href="@{/home}">HOME</a></h5>						
		</div>
	</div>
    </body>
</html>
