<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="index.css"/>
    </head>
    <body>
        <div class="row">
		<h1>Reset Password</h1>
		<h6 class="information-text">Enter your new password to reset your password.</h6>
                <form th:action="@{/reset_password}" method="post">
                    <input type="hidden" name="token" th:value="${param.token}" />
		<div class="form-group">
            <p><label for="username">New Password</label></p>
            <input type="password" name="password" id="user_email" placeholder="New Password" required>	
            <p><label for="username">Re-enter New Password</label></p>
			<input type="password" name="ConfirmPassword" id="user_email" placeholder="Re-enter New Password" required>			
                        <button type="submit" style="color:white">Reset Password</button>
		</div>
                </form>
		<div class="footer">
			<h5>New here? <a href="#">Sign Up.</a></h5>
			<h5>Already have an account? <a href="#">Sign In.</a></h5>			
		</div>
	</div>
    </body>
</html>
