<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IQuiz - Level up IQ Quiz</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous" />
    <link rel="stylesheet" th:href=@{/blogs_list_assets/blogs_list_assets_css/blogs_list_style.css}>
    <link rel="stylesheet" th:href=@{/subjects_list_assets/css/style.css}>
    <link rel="stylesheet" th:href=@{/homepage_assets/homepage_assets_css/homepage.css}>
    <link rel="stylesheet" th:href=@{/templates_components_assets/css/header.css}>
    <link rel="stylesheet" th:href=@{/templates_components_assets/css/footer.css}>
</head>

<body style="font-size:14px;">
<!-- ================ HEADER ================ -->
<div th:insert="templates/components/header"></div>


<!-- ========== MAIN CONTENT ============ -->
<section class="main">

    <div class="container-fluid">
        <div class="row">
            <!-- =========== SIDER ============= -->
            <div class="sider col-md-4 p-5 h-auto">
                <div class="sider-content">
                    <div class="search-box">
                        <input type="text">
                        <span>Search For Subject</span>
                    </div>

                    <div class="category">
                        <h3>
                            Subject Categories
                        </h3>
                        <input id="cate1" type="radio" name="cate" value="">
                        <label for="cate1">Category 1</label>
                        <input id="cate2" type="radio" name="cate" value="">
                        <label for="cate2">Category 2</label>
                        <input id="cate3" type="radio" name="cate" value="">
                        <label for="cate3">Category 3</label>
                    </div>
                </div>

                <div class="lastest_posts">
                    <h4>
                        <span><ion-icon name="school"></ion-icon></span>
                        Featured Subjects
                        <span><ion-icon name="school"></ion-icon></span>
                    </h4>

                    <div th:each="lastestPost : ${lastestPosts}" class="latest_posts-cards">

                        <div class="card">
                            <a th:href="@{'blogs/blog-detail?id=' + ${lastestPost.postId}}">
                                <img th:src="@{/database_images/{imageName}(imageName=${lastestPost.thumbnail})}" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <p th:text="${lastestPost.title}" class="card-text"></p>
                                </div>
                            </a>
                        </div>
                    </div>

                </div>-
            </div>


            <!-- ============= SUBJECT DETAILS ================== -->
            <div class="blogs-list col-md-8 p-5 h-auto">
                <div class="subject-content">
                    <article>
                        <p class="post-meta">Mathematics</p>
                        <div class="section-title">
                            <h1>Mathematics for Engineering</h1>
                        </div>
                        <div class="sale-price">
                            <h3>320.000đ</h3>
                        </div>
                        <div class="subject-price">
                            <span class="price">
                                <h4>500.000đ</h4>
                            </span>
                            <span class="package">
                                <h4>Gói truy cập 3 tháng</h4>
                            </span>
                        </div>
                        <div class="post-content">

                            <p>Learn the mathematics needed to become an engineer. Study matrix algebra, differential equations, vector calculus, numerical methods and complete a capstone project.</p>

                        </div>
                    </article>
                    <div class="register-btn">
                        <a class="register" id="register" href="register">Register Subject</a>
                    </div>
                </div>


            </div>

        </div>
    </div>

    <div class="pagination">
        <nav aria-label="...">
            <ul class="pagination pagination-lg">
                <li class="page-item active" aria-current="page">
                    <span class="page-link">1</span>
                </li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
            </ul>
        </nav>
    </div>


</section>


<!-- =================== FOOTER =================== -->
<div th:insert="templates/components/footer"></div>



<script src="https://code.jquery.com/jquery-3.7.0.min.js"
        integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
        crossorigin="anonymous"></script>
<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>

</html>