@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

html {
    font-size: 10px;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

body {
    min-height: 100vh;
    overflow-x: hidden;
    background-color: #f2f2f2;

    font-size: 1.4rem;
}

/* ======= HEADER STYLE ========== */
#practice-list {
    color: #1368ce;
}


/* ======= BODY STYLE ===========*/
#body {
    min-height: 50vh;
    /*background-color: #ffffff;*/
    margin: 9rem 8rem 3rem 8rem;
}

#body h1 {
    font-size: 2rem;
    font-weight: 650;
    color: #1368ce;
}

div.functionalities {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.4rem;
}

select {
    padding: 0.3rem;
    border-radius: 0.5rem;
    margin-top: 1rem;
    margin-right: 0.5rem;
}

.simulation-exam-table {
    margin-top: 1rem;
    background-color: #ffffff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    text-align: center;
}

.simulation-exam-table thead {
    font-size: 1.6rem;
}

.simulation-exam-table tr {
    height: 4rem;
}

.simulation-exam-table th, .simulation-exam-table td {
    padding-top: 1rem;
}

.simulation-exam-table td a {
    color: #333;
}

.simulation-exam-table .view-detail {
    color: #1368ce;
    font-weight: 500;
}