<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>IQuizz Sign Up</title>
        <link rel="stylesheet" th:href="@{/register_assets/register.css}"/>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div class="form-container">
            <h2>IQuizz Registration</h2>
            <form th:action="@{/register}" method="post">
                <div class="form-group">
                    <p>FullName:</p>
                    <input type="text" name="fullName" required>
                </div>
                <div class="form-group">
                    <p>Gender:</p>
                    <input type="radio" name="gender" value="true" required>
                    <p>Male</p>
                    <input type="radio" name="gender" value="false" required>
                    <p>Female</p>
                </div>
                <div class="form-group">
                    <p>Email:</p>
                    <input type="email" name="email" required>
                </div>
                <div class="form-group">
                    <p>Mobile:</p>
                    <input type="text" name="mobile" required>
                </div>
                <div class="form-group">
                    <p>Password:</p>
                    <input type="password" name="password" required>
                </div>
                <div class="form-group">
                    <input type="submit" value="Register">
                </div>
            </form>
            <h1 th:text="${message}" class="error-message"></h1>
            <div class="button-container">
                <a class="home-link" href="/home">Return Home Page</a>
            </div>

            <div class="login-section">
                <p>Already have an account?</p>
                <a th:href="@{/login}">Login</a>
            </div>

        </div>
    </body>
</html>