@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

html {
	font-size: 10px;
}

*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Montserrat", sans-serif;
}

body {
	min-height: 100vh;
	overflow-x: hidden;
	background-color: #f2f2f2;

	font-size: 1.4rem;
}

/* ======= HEADER STYLE ========== */
#blog {
	color: #1368ce;
}

.main {
	min-height: 50vh;
	width: 100%;
	margin-top: 60px;
}

.sider {
	padding: 5rem;
}

.sider .sider-content {
	background-color: #ffffff;
	box-shadow: rgba(149, 157, 165, 0.2) 0rem 0.8rem 2.4rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 3rem;
	border-radius: 1rem;
	overflow: hidden;
}

.search-box {
	position: relative;
	width: 100%;
	margin-bottom: 2rem;
}

.search-box input {
	width: 100%;
	padding: 0.8rem;
	border: 1px solid rgba(41, 36, 36, 0.25);
	background: #ffffff;
	border-radius: 0.5rem;
	outline: none;
	color: #333;
	font-size: 1.6rem;
	font-weight: 500;
	transition: all 0.5s;
}

.search-box span {
	position: absolute;
	left: 0;
	padding: 0.9rem;
	pointer-events: none;
	font-size: 1.6rem;
	color: rgba(77, 66, 66, 0.6);
	transition: all 0.5s;
	text-transform: uppercase;
	font-weight: 500;
}

.search-box input:focus ~ span {
	color: #1368ce;
	transform: translateX(1rem) translateY(-0.7rem);
	font-size: 1.2rem;
	padding: 0 0.8rem;
	font-weight: 550;
	background-color: #ffffff;
	border-left: 1px solid #1368ce;
	border-right: 1px solid #1368ce;
	letter-spacing: 0.2rem;
}

.search-box input:focus {
	border: 1px solid #1368ce;
}

.category {
	width: 100%;
}

.filter-by-categories {
	font-size: 1.4rem;
	padding: 0.5rem 1.2rem;
}

/* .category label {
    position: relative;
    color: #1368ce;
    font-size: 1.4rem;
    font-weight: 500;
    border: 0.3rem solid #1368ce;
    border-radius: 0.5rem;
    padding: 0.5rem 1.5rem;
    display: flex;
    align-items: center;
    cursor: pointer;
    width: 17rem;
    margin-bottom: 1rem;
}

.category label::before {
    content: "";
    height: 2rem;
    width: 2rem;
    border: 0.3rem solid #1368ce;
    border-radius: 50%;
    margin-right: 20px;
}

input[type="radio"]:checked + label {
    background-color: #1368ce;
    color: #ffffff;
}

input[type="radio"]:checked + label::before {
    height: 2rem;
    width: 2rem;
    border: 4px solid #ffffff;
    background-color: #1368ce;
} */

.latest_posts {
	background-color: #ffffff;
	box-shadow: rgba(149, 157, 165, 0.2) 0rem 0.8rem 2.4rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 5rem;
	padding-top: 3rem;
	padding-bottom: 2rem;
	border-radius: 1rem;
	overflow: hidden;
	margin-top: 2rem;
}

.latest_posts a {
	text-decoration: none;
	color: #333;
}

.latest_posts .card {
	margin-top: 2rem;
	/* height: 30rem; */
	border-radius: 1rem;
	overflow: hidden;
}

.latest_posts h3 {
	color: rgb(209, 68, 68);
	font-weight: 600;
}

.latest_posts img {
	width: 100%;
	height: 16rem;
}

.card {
	transition: all 0.2s ease-in-out;
	overflow: hidden;
}

.card:hover {
	transform: translateY(-0.2rem);
	transform: scale(1.05);
	box-shadow: rgba(0, 0, 0, 0.1) 0rem 0.4rem 1.2rem;
}

/* ============== BLOGS LIST ===========*/
.blogs-list {
	padding-right: 2rem;
}

.blogs-list .card {
	max-width: 100%;
	flex-direction: row;
	height: 18rem;
	border-radius: 1rem;
	overflow: hidden;
	box-shadow: rgba(149, 157, 165, 0.2) 0rem 0.8rem 2.4rem;
	margin-bottom: 3rem;
}

.blogs-list .card img {
	border-radius: 1rem;
	width: 100%;
	height: 100%;
}

.blogs-list .card .card-body {
	display: flex;
	justify-content: flex-start;
	padding-left: 2rem;
}

.text-section {
	max-width: 80%;
}

.text-section h1 {
	font-size: 2rem;
	font-weight: 600;
}

.text-section h4 {
	color: #1368ce;
}

.text-section p {
	font-size: 1.4rem;
	color: rgb(73, 71, 71);
}

.cta-section {
	max-width: 30%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.cta-section .btn {
	margin-left: 1rem;
	font-size: 1.6rem;
	height: 50%;
	display: flex;
	align-items: center;
}

.pagination {
	width: 100%;
	display: flex;
	justify-content: center;
	margin-bottom: 1rem;
}

/* ============= FOOTER ============== */

.copyrightText {
	width: 100%;
	padding: 8px 40px;
}
