@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

html {
    font-size: 10px;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

body {
    min-height: 100vh;
    overflow-x: hidden;
    background-color: #f2f2f2;

    font-size: 1.4rem;
}
/* ======= HEADER STYLE ========== */
#blog {
    color: #1368ce;
}

.main {
    min-height: 50vh;
    width: 100%;
    margin-top: 60px;
}

.sider {
    padding: 5rem;
}

.sider .sider-content {
    background-color: #ffffff;
    box-shadow: rgba(149, 157, 165, 0.2) 0rem 0.8rem 2.4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem;
    border-radius: 1rem;
    overflow: hidden;
}

.search-box {
    position: relative;
    width: 100%;
    margin-bottom: 2rem;
}

.search-box input {
    width: 100%;
    padding: 0.8rem;
    border: 1px solid rgba(41, 36, 36, 0.25);
    background: #ffffff;
    border-radius: 0.5rem;
    outline: none;
    color: #333;
    font-size: 1.6rem;
    font-weight: 500;
    transition: all 0.5s;
}

.search-box span {
    position: absolute;
    left: 0;
    padding: 0.9rem;
    pointer-events: none;
    font-size: 1.6rem;
    color: rgba(77, 66, 66, 0.6);
    transition: all 0.5s;
    text-transform: uppercase;
    font-weight: 500;
}

.search-box input:focus ~ span {
    color: #1368ce;
    transform: translateX(1rem) translateY(-0.7rem);
    font-size: 1.2rem;
    padding: 0 0.8rem;
    font-weight: 550;
    background-color: #ffffff;
    border-left: 1px solid #1368ce;
    border-right: 1px solid #1368ce;
    letter-spacing: 0.2rem;
}

.search-box input:focus {
    border: 1px solid #1368ce;
}

.category {
    width: 100%;
}

.filter-by-categories {
    font-size: 1.4rem;
    padding: 0.5rem 1.2rem;
}
.latest_posts {
    background-color: #ffffff;
    box-shadow: rgba(149, 157, 165, 0.2) 0rem 0.8rem 2.4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5rem;
    padding-top: 3rem;
    padding-bottom: 2rem;
    border-radius: 1rem;
    overflow: hidden;
    margin-top: 2rem;
}

.latest_posts a {
    text-decoration: none;
    color: #333;
}

.latest_posts .card {
    margin-top: 2rem;
    /* height: 30rem; */
    border-radius: 1rem;
    overflow: hidden;
}

.latest_posts h3 {
    color: rgb(209, 68, 68);
    font-weight: 600;
}

.latest_posts img {
    width: 100%;
    height: 16rem;
}

.card {
    transition: all 0.2s ease-in-out;
    overflow: hidden;
}

.card:hover {
    transform: translateY(-0.2rem);
    transform: scale(1.05);
    box-shadow: rgba(0, 0, 0, 0.1) 0rem 0.4rem 1.2rem;
}

/* ============== SLIDERS LIST ===========*/
.blog_list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5rem;
    padding-top: 3rem;
    padding-bottom: 2rem;
    border-radius: 1rem;
    overflow: hidden;
    margin-top: 2rem;
}
.blog_list h1 {
    color: #1368ce;
    font-weight: 1000;
}
.dropdown-font-new{
    display: block;
    height: 76%;
    width: 50%;
    padding: 0.375rem 2.25rem 0.375rem 0.75rem;
    -moz-padding-start: calc(0.75rem - 3px);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-image: url(../..//image/icon-v.svg);
    background-repeat: no-repeat;
    background-position: right 0.75rem center;
    background-size: 16px 12px;
    border: 1px solid #ced4da;
    border-radius: 16px;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0% 4%;
    z-index: 2;
}
.filter-search__control{
    height: 76%;
    width: 50%;
    padding: 2% 2%;
    border: 1px solid #d9d9d9;
    border-radius: 16px;
    z-index: 2;
}
.button-search{
    position: absolute;
    width: 25px;
    height: 25px;
    margin: 2% -15%;
    border: none;
    color: white;
    background-image: url(../..//image/icon-search.svg);
    background-repeat: no-repeat;
    z-index: 1;
}

.text-center {
    text-align: center !important;
}

.form-switch .form-check-input {
    width: 2em;
    margin-left: -2.5em;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgba%280, 0, 0, 0.25%29'/%3e%3c/svg%3e");
    background-position: left center;
    border-radius: 2em;
    transition: background-position 0.15s ease-in-out;
}
.form-switch .form-check-input:focus {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%2386b7fe'/%3e%3c/svg%3e");
}
.form-switch .form-check-input:checked {
    background-position: right center;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e");
}
.form-check-input:checked[type=radio] {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='2' fill='%23fff'/%3e%3c/svg%3e");
}

.pagination {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}
.circle {
    height: 10px;
    width: 10px;
    border: 50%;
}

/* ============= FOOTER ============== */

.copyrightText {
    width: 100%;
    padding: 8px 40px;
}



