<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>IQuizz - IQ Quizzes</title>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link
			href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
			rel="stylesheet"
			integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
			crossorigin="anonymous"
		/>
		<link
			rel="stylesheet"
			th:href="@{/homepage_assets/homepage_assets_css/homepage.css}"
		/>
		<link rel="stylesheet" th:href="@{/subjects_list_assets/css/style.css}" />
		<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
	</head>
	<body>
		<th:block th:if="${userSession == null}">
			<div th:insert="templates/components/header"></div>
		</th:block>

		<th:block th:if="${userSession != null}">
			<div th:insert="templates/components/header_logged_in"></div>
		</th:block>
		<main class="container">
			<div id="sidebar-button" onclick="w3_open()">Sidebar</div>
			<div
				class="w3-sidebar w3-bar-block w3-border-right"
				style="display: none; background-color: rgba(255, 255, 255, 0.5)"
				id="mySidebar"
			>
				<button onclick="w3_close()" class="w3-bar-item w3-large">
					Close &times;
				</button>
				<select
					class="form-select"
					name="categoryId"
					id="categorySelect"
					onchange="navigateToCategory()"
				>
					<option value="">All Categories</option>
					<option
						th:each="category : ${categories}"
						th:value="${category.id}"
						th:text="${category.catName}"
					></option>
				</select>
				<select
					class="form-select"
					id="sortBy"
					name="sort"
					onchange="navigateToSort()"
				>
					<option value="" disabled="" selected="">
						Sort by latest update
					</option>
					<option value="ascending">Ascending</option>
					<option value="descending">Descending</option>
				</select>
			</div>
			<div class="row">
				<div class="d-flex justify-content-center mb-3">
					<input
						type="search"
						id="subjectSearch"
						placeholder="Search for subject"
						class="form-control search-box"
						style="width: 80%"
					/>
					<button class="btn btn-primary" onclick="searchSubjects()">
						<svg
							xmlns="http://www.w3.org/2000/svg"
							width="16"
							height="16"
							fill="currentColor"
							class="bi bi-search"
							viewBox="0 0 16 16"
						>
							<path
								d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"
							/>
						</svg>
					</button>
				</div>
			</div>
			<div class="container">
				<div class="row row-cols-1 row-cols-md-4 gy-4">
					<div class="col-md-3" th:each="subject : ${subjects}">
						<a
							th:href="@{'/subjects/subject-detail?id=' + ${subject.idCourse}}"
							class="card-link"
						>
							<div
								class="card mb-3"
								style="height: 180px; position: relative"
								onmouseover="layerAppear(this)"
								onmouseout="layerDisappear(this)"
							>
								<div class="card-overlay">
									<p
										class="card-title text-center"
										th:text="${subject.courseName}"
									></p>
									<p
										class="card-text"
										th:text="${__${'subjectDesc_' + subject.idCourse}__}"
										style="position: absolute; bottom: 0; font-size: 14px"
									></p>
								</div>
								<label
									class="card-label"
									th:text="${subject.category.catName}"
								></label>
							</div>
						</a>
						<div class="register-container">
							<th:block th:if="${userSession!=null}">
								<a
									class="register-subject btn"
									th:href="@{'/registration/'+{subject.idCourse}+'/'+{user_id}}"
									>Register</a
								>
							</th:block>
							<th:block th:if="${userSession==null}">
								<a
									class="register-subject btn"
									th:href="@{'/registration/'+{subject.idCourse}}"
									>Register</a
								>
							</th:block>
							<p
								class="price-text"
								th:text="'From '+${__${'subjectPrice_' + subject.idCourse}__}"
							></p>
						</div>
					</div>
				</div>
			</div>
			<div class="d-flex justify-content-center justify-content-between mt-3">
				<a
					th:href="@{'/subjects/subjects-list?pageNo='+${pageNo-1}+${categoryId != null ? '&category=' + categoryId : ''}}"
					th:class="${pageNo > 1} ? '' : 'disabled'"
					onclick="return !this.classList.contains('disabled');"
					>Previous</a
				>
				<div class="mr-2">
					<h4
						class="text-center"
						th:text="'Page ' + ${pageNo} + '/' + ${totalPages}"
					></h4>
				</div>
				<a
					th:href="@{'/subjects/subjects-list?pageNo='+${pageNo+1}+${categoryId != null ? '&category=' + categoryId : ''}}"
					th:class="${pageNo < totalPages} ? '' : 'disabled'"
					onclick="return !this.classList.contains('disabled');"
					>Next</a
				>
			</div>
		</main>
		<div th:insert="templates/components/footer"></div>
		<script>
			const urlParams = new URLSearchParams(window.location.search);
			const categoryId = urlParams.get("category");
			const order = urlParams.get("order");

			if (categoryId) {
				const categorySelect = document.getElementById("categorySelect");
				categorySelect.value = categoryId;
			}
			if (order) {
				const orderSelect = document.getElementById("sortBy");
				orderSelect.value = order;
			}
			function navigateToCategory() {
				var categoryId = document.getElementById("categorySelect").value;
				if (categoryId) {
					window.location.href =
						"/subjects/subjects-list?pageNo=1&category=" + categoryId;
				} else {
					window.location.href = "/subjects/subjects-list?pageNo=1";
				}
			}
			function searchSubjects() {
				var subjectSearch = document.getElementById("subjectSearch").value;
				if (subjectSearch) {
					window.location.href =
						"/subjects/subjects-list/search?searchValue=" + subjectSearch;
				} else {
					window.location.href = "/subjects/subjects-list?pageNo=1";
				}
			}
			function navigateToSort() {
				var order = document.getElementById("sortBy").value;
				var categoryId = document.getElementById("categorySelect").value;
				if (categoryId) {
					window.location.href =
						"/subjects/subjects-list?pageNo=1&category=" +
						categoryId +
						"&sortBy=dateStart&order=" +
						order;
				} else {
					window.location.href =
						"/subjects/subjects-list?pageNo=1&sortBy=dateStart&order=" + order;
				}
			}
			function layerAppear(selectedElement) {
				var overlay = selectedElement.querySelector(".card-overlay");
				var category = selectedElement.querySelector(".card-label");
				overlay.style.display = "block";
				category.style.display = "none";
			}
			function layerDisappear(selectedElement) {
				var overlay = selectedElement.querySelector(".card-overlay");
				var category = selectedElement.querySelector(".card-label");
				overlay.style.display = "none";
				category.style.display = "block";
			}
			function w3_open() {
				document.getElementById("mySidebar").style.display = "block";
				document.getElementById("sidebar-button").style.display = "none";
			}

			function w3_close() {
				document.getElementById("mySidebar").style.display = "none";
				document.getElementById("sidebar-button").style.display = "block";
			}
		</script>
	</body>
</html>
